Flask==1.1.1
certifi==2018.1.18        # via requests
#cffi==1.11.5              # via cryptography
chardet==3.0.4            # via requests
click==6.7                # via flask
flask-httpauth==3.2.3
flask-pyoidc==2.0.0
flask-sqlalchemy==2.3.2
flasgger==0.5.14
requests==2.13.0
cloudant
pytz
pyblake2==1.1.2
cryptography==2.8
Flask-JWT-Extended==3.18.1
numpy==1.19.2
urllib3
idna==2.7
tinydb==4.3.0
jsonmodels==2.4.1

